body {
    margin-top: 300px;
}

#welcomeText p {
    color: black;
    margin: 0px;
    font-size: 16px;
    letter-spacing: 2px;
}

@font-face {
    font-family: arcadeClassic;
    src: url(ARCADECLASSIC.TTF);
}

#welcomeText {
    margin: 0;
    font-family: arcadeClassic;
    
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left-color: black;
    border-left-style: solid;
    padding-left: 40px;
    margin-left: 30px;
    height: 100px;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}


    /* font-size: 48px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 5px;
    color: black; */


#welcomeText #header {
    font-size: 48px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 5px;
    color: black; 
}

canvas {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}



#projectList li {
    background-color: white;
    /* border-radius: 25px; */
    padding: 20px;
    list-style-type: none;
    margin-bottom: 10px;
    border-style: solid;
}

#projectList img {
    border-style: solid;
    border-width: 2px;
}

#projectList h2 {
    color: black;
    font-family: Arial;
    border-left-style: solid;
    padding-left: 20px;
}

#projectList p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 1000;
}

#projectList {
    padding-left: 0px;
    
}

#socials {
    position: fixed;
    top: 32px;
    left: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 800;
}

#socials img {
    vertical-align: middle;
    padding-bottom: 10px;
    width: 24px;
    height: 24px;
}